@use "@styles/vars.scss";
@use "@styles/functions.scss";
@use "@styles/mixins.scss";

.sender {
  position: absolute;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 70px;

  padding: 5px 15px;

  display: flex;
  justify-content: space-between;
}

.button {
  height: 60px;
  width: 60px;

  border-radius: 50%;
  background-color: var(--main-color);

  & > img {
    height: 32px;
    width: 27px;
  }

  transition: vars.$transition background-color;

  &:hover {
    background-color: functions.lighten(var(--main-color), 15);
  }
}

.input {
  height: 60px;
  width: calc(100% - 15px - 60px);

  border-radius: vars.$borderRadius;
  @include mixins.bordered(1px);

  background-color: var(--neutral-color-1);

  outline: none;

  padding: 5px 15px;
}

.right {
  & > *:not(:last-child) {
    margin-right: 15px;
  }

  width: calc(15px + 60px + 60px);

  display: flex;
  justify-content: flex-end;
}

.left {
  & > *:not(:last-child) {
    margin-right: 15px;
  }

  display: flex;

  margin-right: 15px;

  width: calc(100% - 15px - 60px - 60px);
}

.invert {
  filter: brightness(0) invert(1);
}
