@use "@styles/mixins.scss";
@use "@styles/vars.scss";

.avatarBody {
  height: 75px;
  width: 75px;

  @include mixins.flexCenter;

  border-radius: 50%;

  background-color: var(--light-color);

  overflow: hidden;

  transition: vars.$transition filter;

  &:hover {
    filter: grayscale(0.5);
  }
}

.avatar {
  width: 100%;
  height: 100%;
}

.basicAvatar {
  width: 45px;
  height: 45px;
}
