@use "@styles/vars.scss";
@use "@styles/mixins.scss";

.chat {
  width: 70%;
}

.chatBody {
  background-color: var(--light-color);

  @include mixins.bordered;
  border-radius: vars.$borderRadius;

  height: 100%;

  position: relative;
}
