.sidebar {
  height: 100%;
  width: 114px;

  background-color: var(--main-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px;

  border-right: 2px solid var(--dark-color);
}

.top {
  display: flex;
  align-items: center;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 15px;
  }
}

.bottom {
  display: flex;
  justify-content: center;
}
