@use "@styles/vars.scss";
@use "@styles/mixins.scss";
@use "@styles/functions.scss";

.button {
  @include mixins.flexCenter;
  background-color: var(--neutral-color-2);

  width: 70px;
  height: 34px;

  border-radius: vars.$borderRadius;
  transition: 250ms ease-in background-color;

  &:hover {
    background-color: functions.darken(var(--neutral-color-2), 15);
  }
}

.activeButton {
  background-color: functions.darken(var(--neutral-color-2), 45);
  &:hover {
    background-color: functions.darken(var(--neutral-color-2), 45);
  }
}

.img {
  height: 24px;
  width: 24px;

  z-index: 10;
}
